label {
    margin: 25px;
    font-size: 27px;
    font-family: Helvetica !important;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}

.inner-div {
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 3px 2px 31px #020202;
    background: radial-gradient(#48008ad4, black);
    height: max-content;
    width: max-content;
}
input {
    margin: 25px;
    padding: 3%;
    border-radius: 7px;
    border: 1px solid #6c00fb8a;
}
.button-parent {
    text-align: center;
    margin: 3%
}
button {
    padding: 2% 6%;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    background: linear-gradient(45deg, #3d3294, #ff00f794);
}
