@page "/forgot-password";

<h3>SignInPage</h3>

<div class="center">
    <div class="inner-div">
        <table>
            <tbody>
                <tr>
                    <td><label>Enter Registered Email</label></td>
                    <td><input type="email" name="email" @bind="email" /></td>
                    
                </tr>
                <tr>
                    <td><label>New Password</label></td>
                    <td><input type="password" name="newPassword" @bind="newPassword" /></td>
                    
                </tr>
                <tr>
                    <td><label>Confirm Password</label></td>
                    <td><input type="password" name="confirmNewPassword" @bind="confirmNewPassword" /></td>
                </tr>
            </tbody>
        </table>
        <div class="button-parent">
            <button>Change Password</button>
        </div>
    </div>
</div>

@code {
    private string email;
    private string newPassword;
    private string confirmNewPassword;
}

